In [18]:
import requests
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd


import requests


url = "https://www.indeed.com/jobs?q=data+analyst&l=Los+Angeles%2C+CA"

payload = {}
headers = {
  'Content-Type': 'application/x-www-form-urlencoded ',
  'Cookie': 'CTK=1ea0b3qbmno15801; INDEED_CSRF_TOKEN=PDY1I70j7XfSC10Q0IFN7vxDbDry6K0Z; PPN=1; jasx_pool_id=641da3; JSESSIONID=086FC3B43D8041B1DAE3BB80FA6DAD2B.jasxA_cmh-job1017; PREF="TM=1591647123108:L=Los+Angeles%2C+CA"; JCLK=1; UD="LA=1591647123:LV=1591305302:CV=1591646939:TS=1591297042:SG=ae80a9ee237a4013c2ca548cab5647f4"; RQ="q=data+analyst&l=Los+Angeles%2C+CA&ts=1591647123186:q=data+analyst&l=San+Francisco%2C+CA&ts=1591646939593:q=data+analyst&l=Atlanta%2C+GA&ts=1591305302389&pts=1591301311498"; jaSerpCount=8'
}

response = requests.request("GET", url, headers=headers, data = payload)

print(response.text.encode('utf8').head())

AttributeError: 'bytes' object has no attribute 'head'

In [2]:
soup = BeautifulSoup(response.text.encode('utf8'), 'html')

In [3]:
for k in soup.find_all("h2", class_="title"):
    a= k.find("a",attrs={"class":"jobtitle turnstileLink"})["title"]
    print(a)

Data Analyst
Billingual Chinese - Data Analyst
Environmental Compliance / Data Analysis Intern
Business Analyst
Data Analyst
Junior Data Analyst
Business Data Analyst
Data Analyst
Data Analyst Healthcare - Experienced or Entry Level
Data Analyst (Apex Legends)
Data Analyst - LA
Student Data Compliance Analyst
Jr. Data Analyst (Jr. DA)
Online Marketing Analyst (Entry Level)
Data Analyst
Assistant Staff Analyst (Policy and Planning Data Analyst), Housing For Health
Statistical Analyst
Jr. Data Analyst (Jr. DA)

In [4]:
def getTitle_name(soup):
    title =[]
    for k in soup.find_all("h2", class_="title"):
        try:
            a= k.find("a",attrs={"class":"jobtitle turnstileLink"})["title"]
            title.append(a)
        except:
            title.append("None")
    return(title)

In [5]:
title = getTitle_name(soup)

In [6]:
def getCompany_name(soup):
    company = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            a = div.find(name="span", attrs={"class":"company"}).text.strip()
            company.append(a)
        except: 
            company.append("None")
    return(company)

In [7]:
company =getCompany_name(soup)

In [8]:
def getLocation_name(soup):
    location= []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            a = div.find(name="div", attrs={"class":"location accessible-contrast-color-location"}).text
            location.append(a)
        except: 
            location.append("None")
    return(location)

In [9]:
location = getLocation_name(soup)

In [10]:
def getSalary(soup):
    salary = []
    for k in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            a =k.find("span", class_="salaryText").text.strip()
            salary.append(a)
        except:
            salary.append("Nothing")
    return(salary)

In [11]:
salary = getSalary(soup)

In [12]:
def getSummary(soup):
    summaries = []
    spans = soup.find_all("div", attrs={"class": "summary"})
    for span in spans:
        try:
            span = span.text.strip()
            span = span.replace("\n","")
            summaries.append(span)
        except:
            summaries.append(span.text.strip())
    return(summaries)
    
summary = getSummary(soup)

In [16]:
df = pd.DataFrame({"Title":title, "Company":company, "Location":location, "Salary":salary, "Summary":summary})

In [17]:
df

,Title,Company,Location,Salary,Summary
0,Data Analyst,AIDS Healthcare Foundation,"Los Angeles, CA 90028 (Hollywood area)",$19 - $20 an hour,"In this position, you will also query data, do..."
1,Billingual Chinese - Data Analyst,Tripalink,"Los Angeles, CA 90017 (Downtown area)","$55,000 - $65,000 a year","Technical expertise regarding data modeling, d..."
2,Environmental Compliance / Data Analysis Intern,UsedCardboardBoxes & UCBZeroWaste (UCB),"Los Angeles, CA 90010 (Mid City area)",Nothing,Must be committed to work at least 2 days/week...
3,Business Analyst,L'ange Inc.,"Chatsworth, CA 91311","$70,000 - $90,000 a year",Develop visualizations of data for management....
4,Data Analyst,EP Wealth Advisors,"Torrance, CA 90503 (Southwood area)",Nothing,The Data Analyst is a new role responsible for...
5,Junior Data Analyst,Airgas Inc.,"Long Beach, CA 90808 (Airport Area area)",Nothing,Supports the department efforts to improve dat...
6,Business Data Analyst,Connect International,None,"$55,000 - $75,000 a year",Looking for someone who can analyze business b...
7,Data Analyst,Wellth,None,"$50,000 - $80,000 a year",2+ years using SQL and other data extraction m...
8,Data Analyst Healthcare - Experienced or Entry...,Qlarant,None,Nothing,"Data analysis, including data preparation and ..."
9,Data Analyst (Apex Legends),Electronic Arts,None,Nothing,Builds live data dashboards complete with user...
10,Data Analyst - LA,BlueLabs Analytics,None,Nothing,The ability to manipulate data with SQL.Checks...
11,Student Data Compliance Analyst,KIPP SoCal Public Schools,None,Nothing,Staff demographic and course data.Reconcile mo...
12,Jr. Data Analyst (Jr. DA),"Prime MSO, LLC.",None,"$38,000 - $60,000 a year",A Successful data analyst understand how to cr...
13,Online Marketing Analyst (Entry Level),Advertise Purple,None,"$65,000 a year",Create databases and capture market data.We ha...
14,Data Analyst,Center For Policing Equity,None,Nothing,Perform data pre-processing/wrangling tasks to...
15,Assistant Staff Analyst (Policy and Planning D...,Heluna Health,None,$36.47 - $46.21 an hour,Comfort working with data systems and learning...
16,Statistical Analyst,California FAIR Plan Association,"Los Angeles, CA 90010 (Koreatown area)",Nothing,Use data to identify efficient investigation o...
17,Jr. Data Analyst (Jr. DA),"Prime MSO, LLC.","Glendale, CA 91203 (City Center area)","$38,000 - $60,000 a year",A Successful data analyst understand how to cr...